@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

body {
	font-family: Montserrat;
	font-weight: 700;
}

.container_wrapper {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center
}

.container_wrapper button {
	margin: 10px 0 10px 0;
	width: 100%;
}

.card {
	border-radius: 4px;
}